.bag{
    position: fixed;
    bottom: 125px;
    right: 25px;
    z-index: 1000;
}

.btn-cart{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 50px;
    bottom: 80px;
    right: 20px;
    color: white;
    border-radius: 58px;
    text-align: center;
    z-index: 999;
}

[nz-switch]{
    color: brown;
}