<button nz-button nzType="primary" (click)="showModal()" >Facturar</button>

<nz-modal
        [(nzVisible)]="isVisible"
        nzOkText="Enviar"
        nzCancelText="Cancelar"
        (nzOnOk)="setFactura()"
        (nzOnCancel)="handleCancel()"
      >
        <ng-container *nzModalContent>
          <h5 class="text-center p-2" nz-typography> Confirma el metodo de pago</h5>
          <div class="flex justify-between px-5">            
            <div *ngFor="let metodo of service.metodo">

              <div class="bg-white rounded-md shadow-md m-2 cursor-pointer" (click)="setFactura(metodo)">
                <div class="m-2">
                  <h5 nz-typography>{{ metodo.metodo_name}}</h5>
                  <nz-avatar class="p-2"  [nzShape]="'square'" [nzSize]="64" [nzSrc]="metodo.image"></nz-avatar>
                </div>                  
              </div>
              
            </div>
          </div>
          
        </ng-container>

</nz-modal>
