<nz-table #nzTable  class="w-full" nzTemplateMode [nzPageSize]="10" [nzBordered]="true" >
    <thead>

            <tr>
                <th class="w-10 p-1"></th>
                <th class="text-center"># Pedido</th>
                <th class="text-center">Usuario</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Servicio</th>
                <th class="w-10"></th>
            </tr>
    </thead>
    <tbody >
            <ng-container *ngFor="let data of service.reserva;index as i" >
                  <tr>
                        <td [nzExpand]="expandSet.has(data.id_pedido)"
                        (nzExpandChange)="onExpandChange(data, $event)"
                        ></td>
                        <td class="text-center" ># {{ data.id_pedido }}</td>
                        <td class="text-center" >{{ data.name }}</td>
                        <td class="text-center">{{ (data.valor | currency) }}</td>
                        <td class="text-center justify-center" *ngIf = "!data.servicio" ><mat-icon>store</mat-icon></td>
                        <td class="text-center justify-center" *ngIf = "data.servicio" ><mat-icon>delivery_dining</mat-icon></td>
                        <td class="w-10 p-0 ml-0 justify-center">
                            <app-showmetodo [id]="data" ></app-showmetodo>
                        </td>
                 </tr>
                    <tr [nzExpand]="expandSet.has(data.id_pedido)">
                      
                      <div class="flex">
                        <nz-table class="w-full " #basicTable [nzBordered]="true" nzTemplateMode [nzFrontPagination]="false" [nzData]="ticket">
                          <thead>
                            <tr>
                              <th class="w-32 ">Producto</th>
                              <th class="w-32 text-center">Valor</th>
                              <th class="w-32 text-center">Descripcion</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of basicTable.data">
                              <td class="w-32 text-center">{{ data.name }}</td>
                              <td class="w-32 text-center">{{ data.valor | currency }}</td>
                              <td class="w-32 text-center">{{ (data.descripcion) }}</td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                      
                    </tr>

            </ng-container>
        
    </tbody>

</nz-table>

