<div class="relative z-50">
    <div class="fixed bottom-0 left-0 right-0">

        <div *ngIf="!auth.loggedIn; else navbar">

            <mat-toolbar (click)="auth.login()" class="flex justify-between cursor-pointer bg-red-600 h-16">                
              <div><span class="text-white">Ingresar</span></div>
            </mat-toolbar>
        </div>
    
        <ng-template #navbar>
            
            <div>
                <mat-toolbar class="flex justify-between bg-red-600 h-16">
    
                    <div >
                        <app-drawer></app-drawer> 
                    </div>

                    <div  *ngIf="!menu && store.user.id_role == 3" class="cursor-pointer" routerLink="/reserva">
                        <span class="text-white">Reservas</span>
                    </div>

                    <div  *ngIf="!menu && store.user.id_role == 5" class="cursor-pointer" routerLink="/caja">
                        <span class="text-white">Caja</span>
                    </div>

                    <div *ngIf="menu == true" class="cursor-pointer" routerLink="/menu">
                        <span class="text-white">Menu</span>
                    </div>
                    
                    <div  (click)="auth.logout()">
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon class="text-white">logout</mat-icon>
                        </button>
                    </div>
                    
                </mat-toolbar>
             </div>
             
        </ng-template>
        
    </div>
</div>

