<div class="relative z-50">
    <div class="fixed bottom-0 left-0 right-0">

        <div *ngIf="!auth.loggedIn; else navbar">

            <mat-toolbar (click)="auth.login()" class="flex justify-between cursor-pointer bg-red-600 h-16">                
              <div><span class="text-white">Ingresar</span></div>
                
                    <div >
                            <span nz-tooltip nzTooltipTitle="www.fenis.com">
                                <nz-avatar
                                class="mat-elevation-z4 w-32 bg-white"
                                [nzGap]="4"
                                [nzSize]="40"
                                nzSrc="assets/fenis.png"
                                >
                                </nz-avatar>
                            </span>
    
                    </div>
    
                
                
            </mat-toolbar>
        </div>
    
        <ng-template #navbar>
            <div>
                <mat-toolbar class="flex justify-between bg-red-600 h-16">
    
                    <div >
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon class="text-white">menu</mat-icon>
                        </button>
                    </div>
                       
                    <div class="cursor-pointer" routerLink="/Reserva">
                        <span class="text-white">Reservas</span>
                    </div>
                    
        
                    <div  (click)="auth.logout()">
                        <span class="example-spacer"></span>
                        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon class="text-white">logout</mat-icon>
                        </button>
                    </div>
                    <div >
                        <span nz-tooltip nzTooltipTitle="www.fenis.com">
                            <nz-avatar
                              class="mat-elevation-z4 w-32 bg-white"
                              [nzGap]="4"
                              [nzSize]="40"
                              nzSrc="assets/fenis.png"
                            >
                            </nz-avatar>
                        </span>
                    </div>
        
                    
                    
                </mat-toolbar>
             </div>
        </ng-template>
        
    </div>
</div>

