
  
    <nz-page-header class="p-2" nzBackIcon>
    <nz-page-header-title>{{store.user.name}}</nz-page-header-title>
    <nz-page-header-subtitle>{{store.user.name_enterprise}}</nz-page-header-subtitle>
        
    <nz-page-header-content >
      <nz-row nzType class="grid grid-cols-8 gap-4 justify-items-center">
        <div class="flex items-center col-span-4 ">
          <nz-statistic nzTitle="Pendiente" [nzValue]="total" nzPrefix="$" style="margin: 0 32px"></nz-statistic>
        </div>
        <div class="flex items-center col-span-4 ">
          <nz-statistic nzTitle="Pago" [nzValue]="totalfa" nzPrefix="$"></nz-statistic>
        </div>        
      </nz-row>
    </nz-page-header-content>
  </nz-page-header>

  
