<div *ngIf="!valid; else carrousel">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>

<ng-template #carrousel>

        <nz-carousel class="h-60 sm:h-80" nzAutoPlay>

                <div nz-carousel-content *ngFor="let index of menu">

                    <div class="grid grid-rows-2 gap-1 content-center p-2">
                      <div class="flex justify-center rounded row-span-1 h-5">
                        <h5 class="title " nz-typography>{{index.name}}</h5>
                      </div> 
                      <div class="flex justify-center rounded row-span-1 h-1 p-0 m-0">
                        <p class="text-xs" nz-typography>{{index.descripcion}}</p>
                      </div>
                      
                    </div>
                    <div class="flex justify-center rounded-lg h-full">
                        <img class=" rounded-md" [src]="index.image" />
                    </div>

                </div>

          </nz-carousel>

        
</ng-template>

