<ng-container *ngIf="service.factura.length == 0; else table">
  <div class="flex justify-center content-center m-12">
    <nz-spin class="mr-6" nzSimple [nzSize]="'large'"></nz-spin>
    <div nz-typography><h5>Esperando reservas...</h5></div>
    
  </div>
</ng-container>

<ng-template #table >
<nz-table class="w-full" nzTemplateMode nzTableLayout="fixed"[nzPageSize]="10" [nzBordered]="true" >
    <thead>

            <tr>
                <th class="w-10 p-1 justify-center content-center"></th>
                <th class="text-center"># Pedido</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Servicio</th>
            </tr>
    </thead>
    <tbody >
            <ng-container *ngFor="let data of service.factura" >
                  <tr>
                        <td [nzExpand]="expandSet.has(data.id_pedido)"
                        (nzExpandChange)="onExpandChange(data, $event)"
                        ></td>
                        <td class="text-center" ># {{ data.id_pedido }}</td>
                        <td class="text-center">{{ (data.valor | currency) }}</td>
                        <td class="text-center justify-center" ><mat-icon>store</mat-icon></td>
                 </tr>
                    <tr [nzExpand]="expandSet.has(data.id_pedido)">
                      
                      <div class="flex">
                        <nz-table class="w-full " #basicTable [nzBordered]="true" [nzFrontPagination]="false" [nzData]="ticket">
                          <thead>
                            <tr>
                              <th class="w-32 text-center">Producto</th>
                              <th class="w-32 text-center">Valor</th>
                              <th class="w-32 text-center">Descripcion</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of basicTable.data">
                              <td class="w-32 text-center">{{ data.name }}</td>
                              <td class="w-32 text-center">{{ data.valor | currency }}</td>
                              <td class="w-32 text-center">{{ (data.descripcion) }}</td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                      
                    </tr>

            </ng-container>
        
    </tbody>

</nz-table>
</ng-template>
